<ul class="nav">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li {% if is_current_route('dashboard') %}class="active"{% endif %}>
            <a href="{{ path('dashboard') }}">{{ 'menu.dashboard' | trans }}</a>
        </li>
    {% endif %}
    <li {% if is_current_route('categories') %}class="active"{% endif %}>
        <a href="{{ path('categories') }}">{{ 'menu.categories' | trans }}</a>
    </li>
    <li {% if is_current_route('random') %}class="active"{% endif %}>
        <a href="{{ path('random') }}">{{ 'menu.random' | trans }}</a>
    </li>
    <li {% if is_current_route('favorites') %}class="active"{% endif %}>
        <a href="{{ path('favorites') }}">{{ 'menu.favorites' | trans }}</a>
    </li>
    <li {% if is_current_route('notes') %}class="active"{% endif %}>
        <a href="{{ path('notes') }}">{{ 'menu.notes' | trans }}</a>
    </li>
    <li {% if is_current_route('last') %}class="active"{% endif %}>
        <a href="{{ path('last') }}">{{ 'menu.last' | trans }}</a>
    </li>
    <form class="navbar-form pull-left">
        <select class="span1">
            {% for i in 0..100 %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </form>
</ul>