<ul class="nav">
   <!--  <li {% if is_current_route('homepage') or is_current_route('homepage_i18n') %}class="active"{% endif %}>
        <a href="{{ path('homepage_i18n') }}">{{ 'menu.home' | trans }}</a>
    </li>
    <li {% if is_current_route('categories') %}class="active"{% endif %}>
        <a href="{{ path('categories') }}">{{ 'menu.categories' | trans }}</a>
    </li>
    <li {% if is_current_route('random') %}class="active"{% endif %}>
        <a href="{{ path('random') }}">{{ 'menu.random' | trans }}</a>
    </li>
    <li {% if is_current_route('favorites') %}class="active"{% endif %}>
        <a href="{{ path('favorites') }}">{{ 'menu.favorites' | trans }}</a>
    </li>
    <li {% if is_current_route('notes') %}class="active"{% endif %}>
        <a href="{{ path('notes') }}">{{ 'menu.notes' | trans }}</a>
    </li>
    <li {% if is_current_route('last') %}class="active"{% endif %}>
        <a href="{{ path('random') }}">{{ 'menu.last' | trans }}</a>
    </li> -->
</ul>