<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title%}{% endblock %}</title>
    <meta name="description" content="{% block meta_description%}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="{{ app.request.basepath }}/image/favicon.ico" />

    {% stylesheets 'bundles/e100core/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block meta %}{% endblock %}

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXX-1']);
  _gaq.push(['_trackPageview']);

  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body class="{% block body_class %}{% endblock %}">

<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a class="brand" href="{{ path('dashboard') }}">E100</a>
          {% else %}
          <a class="brand" href="{{ path('homepage_i18n') }}">E100</a>
          {% endif %}
          <div class="nav-collapse collapse">
              {% include '::_menu.html.twig' %}
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav pull-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <a href="{{ path('goal') }}">{{ 'menu.goals'| trans() }}</a></li>
                      <li><a href="{{ path('fos_user_change_password') }}">{{ 'menu.changePassword'| trans() }}</a></li>
                      <a href="{{ path('fos_user_security_logout') }}">{{ 'menu.logout'| trans() }}</a></li>
                    </ul>
                  </li>
                </ul>
              {% else %}
                <ul class="nav pull-right">
                  <li {% if is_current_route('login') %}class="active"{% endif %}><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                  <li {% if is_current_route('login') %}class="active"{% endif %}><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container">
        {% block content %}{% endblock %}

        <footer class="e100-head">
        </footer>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/assets/js/jquery.js"><\/script>')</script>

    {% javascripts
    '@E100CoreBundle/Resources/public/js/bootstrap-transition.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-alert.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-modal.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-dropdown.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-scrollspy.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-tab.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-tooltip.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-popover.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-button.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-collapse.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-carousel.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-typeahead.js'
    '@E100CoreBundle/Resources/public/js/d3.v2.min.js'
    '@E100CoreBundle/Resources/public/js/jquery.masonry.min.js'
    '@E100CoreBundle/Resources/public/js/script.js'
 %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=176383844432";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
