<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title%}E100 Youth{% endblock %}</title>
    <meta name="description" content="{% block meta_description%}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="{{ app.request.basepath }}/img/favicon.ico" />

    <link rel="apple-touch-icon" href="{{ app.request.basepath }}/img/touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="E100 Youth">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    {% stylesheets 'bundles/e100core/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block meta %}{% endblock %}

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40190699-1', 'e100youth.com');
    ga('send', 'pageview');

  </script>
</head>
<body class="{% block body_class %}{% endblock %}">

<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a class="brand" href="{{ path('dashboard') }}">E100</a>
          {% else %}
          <a class="brand" href="{{ path('homepage_i18n') }}">E100</a>
          {% endif %}
          <div class="nav-collapse collapse">
              {% include '::_menu.html.twig' %}
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav pull-right">
                  {# <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Fr</a></li>
                  <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'}))}}">De</a></li> #}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <a href="{{ path('goal') }}">{{ 'menu.goals'| trans() }}</a></li>
                      <li><a href="{{ path('fos_user_change_password') }}">{{ 'menu.changePassword'| trans() }}</a></li>
                      <a href="{{ path('fos_user_security_logout') }}">{{ 'menu.logout'| trans() }}</a></li>
                    </ul>
                  </li>
                </ul>
              {% else %}
                <ul class="nav pull-right">
                {# <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Fr</a></li>
                <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'}))}}">De</a></li> #}
                  <li {% if is_current_route('login') %}class="active"{% endif %}><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                  <li {% if is_current_route('login') %}class="active"{% endif %}><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container">
        {% block content %}{% endblock %}

        <div class="e100-head">
            
        </div>
        <footer>
          <div class="pull-left" style="width:40%;">
            <h3>{{ 'footer.project' | trans }} </h3>
            <a href="http://ligue.ch/">
              <img src="/img/logo_ligue.png"><br/>
              {{ 'footer.ligue' | trans }}
            </a>
          </div>
          <div class="pull-right" style="width:40%;">
              <h3>{{ 'footer.partner' | trans }}</h3>
              <a href="http://la-bible.net/">
                <img src="/img/logo_abf.png"><br/>
                {{ 'footer.abf' | trans }}
              </a>
          </div>
        </footer>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/assets/js/jquery.js"><\/script>')</script>

    {% javascripts
    '@E100CoreBundle/Resources/public/js/bootstrap-transition.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-alert.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-modal.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-dropdown.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-scrollspy.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-tab.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-tooltip.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-popover.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-button.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-collapse.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-carousel.js'
    '@E100CoreBundle/Resources/public/js/bootstrap-typeahead.js'
    '@E100CoreBundle/Resources/public/js/jquery.masonry.min.js'
    '@E100CoreBundle/Resources/public/js/script.js'
    '@E100CoreBundle/Resources/public/js/add2home.js'
    %}
    {# '@E100CoreBundle/Resources/public/js/d3.v2.min.js' #}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=176383844432";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
