{% extends "::base.html.twig" %}

{% block title %}{{ 'dashboard.title' | trans }}{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit">
          <h1>{{ 'dashboard.welcome.title' | trans }}</h1>
        </div>

        <h2>{{ 'dashboard.lastread.title' | trans }}<h2>
        {% if lastReading %}
          <a href="{{ path('bibleText', {id: lastReading.id}) }}">{{ lastReading.bibleRef }}</a>
        {% endif %}

        <h2>{{ 'dashboard.progress.title' | trans }}<h2>
        <div class="progress progress-striped active">
          <div class="bar" style="width: {{ numberOfTextReaded }}%;"></div>
        </div>

        <h2>{{ 'dashboard.velocity.title' | trans }}<h2>
        <p>Velocity: {{ velocity | number_format(2) }}</p>

      </div><!--/span-->
    </div><!--/row-->
{% endblock %}