{% extends "::base.html.twig" %}

{% block title %}{{ 'dashboard.title' | trans }}{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <div>
          <h1>{{ 'dashboard.welcome.title' | trans }}</h1>
          <h2>{{ 'dashboard.welcome.text' | trans }}</h2>
        </div>

        {% if message %}
        <div class="well">
          <h2>{{ message }}</h2>
        </div>
        <hr>
        {% endif %}

        <div class="btn-group">
        {% if lastReading %}
          <a href="{{ path('bibleText', {id: lastReading.id}) }}" class="btn btn-primary" title="{{ lastReading.bibleRef }}">{{ 'menu.last' | trans }}</a>
        {% endif %}
          <a href="{{ path('favorites') }}" class="btn btn-primary">{{ 'menu.favorites' | trans }}</a>
          <a href="{{ path('notes') }}" class="btn btn-primary">{{ 'menu.notes' | trans }}</a>
        </div>
        <hr>

        <h3>{{ 'dashboard.progress.title' | trans }} <span class="pull-right">{{numberOfTextReaded}}/100 {{ 'dashboard.lastread.text' | trans }}</span></h3>
        <div class="progress progress-striped active">
          <div class="bar" style="width: {{ numberOfTextReaded }}%;"></div>
        </div>
        <hr>

        <p>{{ 'dashboard.velocity.title' | trans({ '%count%':velocity | number_format(0)}) }}<p>
        <p>
          <a href="{{ path('goal') }}" class="btn btn-primary">{{ 'dashboard.goal.link'| trans() }}</a></li>
        </p>
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}