{% extends "::base.html.twig" %}

{% block body_class %}goalstatus{% endblock %}

{% block title %}{{ 'goal.title' | trans }}{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h1>{{ 'goal.welcome.title' | trans }}</h1>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div id="diagram" style="background-color:#fff;" data-url="{{ path('getGoalStatus') }}"></div>
      </div><!--/span-->
    </div><!--/row-->
     <div class="row-fluid">
      <div class="span12">
        <hr>
        <h2>{{ 'goal.change'|trans }}</h2>
        <form action="{{ path('goal') }}" method="post" {{ form_enctype(form) }}>

            {{ form_errors(form) }}
            <div>
            {{ form_widget(form.endDateTime) }}
            {{ form_rest(form) }}
            </div>


            <input type="submit" />
        </form>
      </div>
    </div>
{% endblock %}
