{% extends "::base.html.twig" %}

{% block title %}{{ 'categories.title' | trans }}{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h1>{{ 'categories.welcome.title' | trans }}</h1>
        <p>{{ 'categories.welcome.text' | trans }}</p>

        <div class="hidden-desktop">
          <a class="btn btn-inverse" href="#old">{{ 'categories.old.title' | trans }}</a>
          <a class="btn btn-inverse" href="#new">{{ 'categories.new.title' | trans }}</a>
        </div>

        <br /><br />
      </div>
    </div>


    <div class="row-fluid">
      <div class="span6" id="old">
        <h2>{{ 'categories.old.title' | trans }}</h2>
        <div class="accordion" id="old-accordion">
          {% for category in oldTestamentCategories %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#old-accordion" href="#old-accordion{{ loop.index }}">
                  <h4 class="read-progress"><span class="full">{{ category.title }} ({% if category.id in categoryCount|keys %}{{ categoryCount[category.id]['counter'] }}{% else %}0{% endif %} / 5)</span></h4>
                </a>
              </div>
              <div id="old-accordion{{ loop.index }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>{{ category.description }}</p>
                  <ul class="nav nav-list bs-docs-sidenav">
                    {% for text in category.texts %}
                      <li class="read-ok">
                        <a href="{{ path('bibleText', {'id': text.id }) }}"><i class="icon-ok-circle {% if text.id in readTexts|keys %}icon-read-ok{% endif %}"></i> <strong>{{ text.textNumber }}.</strong> {{ text.title }} </a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>


      </div><!--/span-->

      <div class="span6" id="new">
        <h2>{{ 'categories.new.title' | trans }}</h2>
        <div class="accordion" id="new-accordion">
          {% for category in newTestamentCategories %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#new-accordion" href="#new-accordion{{loop.index}}">
                  <h4 class="read-progress"><span class="full">{{ category.title }} ({% if category.id in categoryCount|keys %}{{ categoryCount[category.id]['counter'] }}{% else %}0{% endif %} / 5)</span></h4>
                </a>
              </div>
              <div id="new-accordion{{loop.index}}" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>{{ category.description }}</p>
                  <ul class="nav nav-list bs-docs-sidenav">
                    {% for text in category.texts %}
                      <li class="read-ok">
                        <a href="{{ path('bibleText', {'id': text.id }) }}"><i class="icon-ok-circle {% if text.id in readTexts|keys %}icon-read-ok{% endif %}"></i> <strong>{{ text.textNumber }}.</strong> {{ text.title }} </a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>


      </div><!--/span-->
    </div><!--/row-->
{% endblock %}
