{% extends "::base.html.twig" %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <div>
          <h1>{{ 'homepage.welcome.title' | trans }}</h1>
          <h2>{{ 'homepage.welcome.subTitle' | trans }}</h2>
          <p><a class="btn btn-primary btn-large" href="{{ path('categories') }}">{{ 'homepage.welcome.action' | trans }}</a></p>
          <p><a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">{{ 'homepage.welcome.register' | trans }}</a></p>
          <p>{{ 'homepage.welcome.text' | trans }}</p>
        </div>
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}
