{% extends "layout.html.twig" %}

{% block title %}{{ 'notes.title' | trans }}{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h1>{{ 'notes.welcome.title' | trans }}</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="span4">
          <div class="note alert alert-block normal-color">
            <h4><a href="{{ path('random') }}">One of us - <em>ipsum 31,53-59</em></a></h4>
            <hr />
            <h3>My love for Jesus</h3>
            <p><small class="normal-color"><i class="icon-time"></i>September 18th, 2012</small></p><br />
            <p>
              Iriuredolor veniam in, ut quis delenit magna delenit consectetuer ad et elit dignissim hendrerit. Tation vero nostrud at in duis in hendrerit duis ea nostrud consequat nisl volutpat duis volutpat elit? Dolore ea iusto amet, consequatvel accumsan nibh volutpat dolor, wisi nulla molestie wisi suscipit. Nibh consequat ex exerci delenit, te veniam vulputate ut te euismod. Esse eu consequatvel consequat iusto, nulla qui, autem consequat at nonummy euismod, nostrud ex ut praesent. 
              <br /><br />
              Delenit dolor augue exerci eros nisl sit veniam hendrerit et illum ut. Autem eu, facilisi augue at exerci velit te iriure. Iusto ullamcorper hendrerit, minim vel vero exerci autem vero, illum accumsan. Exerci eu nulla ea vel minim eros lorem et, eros ex nulla lobortis. Quis lobortis dolore vulputate feugait ex lobortis tation exerci augue feugiat.
              <br /><br />
              Eum feugiat molestie illum esse dignissim eu dolor esse wisi blandit augue eros facilisis adipiscing crisare iriuredolor elit facilisis ullamcorper tincidunt in consequat feugiat dolore suscipit hendrerit. Delenit adipiscing veniam adipiscing et nulla ullamcorper laoreet dolore euismod facilisi feugait illum erat nibh dolore volutpat. Suscipit vulputate consectetuer ad ullamcorper duis elit consequat vel duis elit at tation nulla ut ea ut.
            </p>
            <div class="notes-tools">
              <a href="#" class="btn btn-small"><i class="icon-pencil"></i>Edit</a>
              <a href="#" class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i>Delete</a>
            </div> 
         </div>
        </div>
        <div class="span4">
          <div class="note alert alert-block normal-color">
           <h4><a href="{{ path('random') }}">One of us - <em>ipsum 31,53-59</em></a></h4>
           <hr />
           <h3>Question 2</h3>
           <p><small class="normal-color"><i class="icon-time"></i>September 19th, 2012</small></p><br />
           <p>
            Tation vero nostrud at in duis in hendrerit duis ea nostrud consequat nisl volutpat duis volutpat elit? Dolore ea iusto amet, consequatvel accumsan nibh volutpat dolor, wisi nulla molestie wisi suscipit. Nibh consequat ex exerci delenit, te veniam vulputate ut te euismod. Esse eu consequatvel consequat iusto, nulla qui, autem consequat at nonummy euismod, nostrud ex ut praesent.
           </p>
           <div class="notes-tools">
            <a href="#" class="btn btn-small"><i class="icon-pencil"></i>Edit</a>
            <a href="#" class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i>Delete</a>
          </div>
         </div>
         <div class="note alert alert-block normal-color">
           <h4><a href="{{ path('random') }}">Back to Egypt - <em>ipsum 31,53-59</em></a></h4>
           <hr />
           <h3>Am I a good Christian ?</h3>
           <p><small class="normal-color"><i class="icon-time"></i>September 15th, 2012</small></p><br />
           <p>
            Dolore ut ullamcorper in commodo iusto nonummy. Dolore commodo dignissim nulla facilisi blandit eu, consequat praesent, luptatum elit ea? Enim qui eros lorem quis tation. 
            <br /><br />
            Tation vero nostrud at in duis in hendrerit duis ea nostrud consequat nisl volutpat duis volutpat elit? Dolore ea iusto amet, consequatvel accumsan nibh volutpat dolor, wisi nulla molestie wisi suscipit. Nibh consequat ex exerci delenit, te veniam vulputate ut te euismod. Esse eu consequatvel consequat iusto, nulla qui, autem consequat at nonummy euismod, nostrud ex ut praesent.
           </p>
           <div class="notes-tools">
            <a href="#" class="btn btn-small"><i class="icon-pencil"></i>Edit</a>
            <a href="#" class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i>Delete</a>
          </div>
         </div>
        </div>
        <div class="span4">
          <div class="note alert alert-block normal-color">
           <h4><a href="{{ path('random') }}">Get ready - <em>ipsum 31,53-59</em></a></h4>
           <hr />
           <h3>Where is God ?</h3>
           <p><small class="normal-color"><i class="icon-time"></i>September 16th, 2012</small></p><br />
           <p>
            Eum feugiat molestie illum esse dignissim eu dolor esse wisi blandit augue eros facilisis adipiscing crisare iriuredolor elit facilisis ullamcorper tincidunt in consequat feugiat dolore suscipit hendrerit. Delenit adipiscing veniam adipiscing et nulla ullamcorper laoreet dolore euismod facilisi feugait illum erat nibh dolore volutpat. Suscipit vulputate consectetuer ad ullamcorper duis elit consequat vel duis elit at tation nulla ut ea ut, te dolor in sed? Dolore duis, sit commodo, dolore iriure dolore vulputate lobortis aliquip eum vulputate aliquip et. Dolore ut ullamcorper in commodo iusto nonummy. Dolore commodo dignissim nulla facilisi blandit eu, consequat praesent, luptatum elit ea? Enim qui eros lorem quis tation. 
           </p>
           <div class="notes-tools">
            <a href="#" class="btn btn-small"><i class="icon-pencil"></i>Edit</a>
            <a href="#" class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i>Delete</a>
          </div>
         </div>
        </div>
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}
