{% extends "::base.html.twig" %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ text.title }}"/>
    <meta property="og:url" content="{{ url('bibleText', { id: text.id } ) }}"/>
    <meta property="og:site_name" content="E100"/>
{% endblock %}

{% block content %}
    
    <div class="container">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn" href="#bible-text">{{ 'text.innerNav.bibleText' | trans}}</a>
          <a class="btn" href="#comments">{{ 'text.innerNav.comment' | trans}}</a>
          <a class="btn" href="#question">{{ 'text.innerNav.question' | trans}}</a>
        </div>
        <div class="btn-group pull-right">
          {% if prev != 0 %}
          <a class="btn" href="{{ path('bibleText', { 'id': prev }) }}">{{ 'navigation.prev'|trans }}</a>
          {% endif %}
          {% if next != 0 %}
          <a class="btn" href="{{ path('bibleText', { 'id': next }) }}">{{ 'navigation.next'|trans }}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="span7">
          <blockquote id="bible-text">
            <h1>{{ text.textNumber }} – {{ text.title }}</h1>
              {% if hasUser %}
                <a href="{{ path('addFavorites', { 'id': text.id }) }}" class="btn btn-small btn-warning btn-favorit add-favorite {% if hasFavorited == true %}hide{% endif %}"><i class="icon-star icon-white"></i>{{ 'random.button.addfavorites' | trans }}</a>
                <a href="{{ path('deleteFavorites', { 'id': text.id }) }}" class="btn btn-small btn-warning btn-favorit remove-favorite {% if hasFavorited == false %}hide{% endif %}"><i class="icon-star icon-white"></i>{{ 'random.button.removefavorites' | trans }}</a>
              {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-small btn-warning add-favorite"><i class="icon-star icon-white"></i>{{ 'random.button.addfavorites' | trans }}</a>
              {% endif %}

            <h2>{{ text.teaserQuestion }}</h2>
            <p class="lead">{{ text.bibleRef}}</p>
            <p>
                {{ text.bibleText | raw }}
            </p>
          </blockquote>
          <br />
          <div class="btn-toolbar">
          {% if hasUser %}
            <a href="{{ path('markRead', { 'id': text.id }) }}" class="btn btn-success btn-large btn-markRead add-markRead {% if hasRead == true %}hide{% endif %}"><i class="icon-ok icon-white"></i>{{ 'random.button.read' | trans }}</a>
            <a href="{{ path('unmarkRead', { 'id': text.id }) }}" class="btn btn-success btn-large btn-markRead remove-markRead {% if hasRead == false %}hide{% endif %}"><i class="icon-ok icon-white"></i>{{ 'random.button.unread' | trans }}</a>
            <a href="{{ path('dashboard') }}" class="btn btn-large btn-inverse"><i class="icon-home icon-white"></i>{{ 'random.button.dashboard' | trans }}</a>
          {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-success btn-large add-markRead"><i class="icon-ok icon-white"></i>{{ 'random.button.read' | trans }}</a>
          {% endif %}
          <div class="btn-group pull-right">
            {% if prev != 0 %}
            <a class="btn" href="{{ path('bibleText', { 'id': prev }) }}">{{ 'navigation.prev'|trans }}</a>
            {% endif %}
            {% if next != 0 %}
            <a class="btn" href="{{ path('bibleText', { 'id': next }) }}">{{ 'navigation.next'|trans }}</a>
            {% endif %}
          </div>
          </div>
          <br /><br />
          <div class="fb-like" data-href="{{ url('bibleText', { id: text.id } ) }}" data-send="false" data-width="300" data-show-faces="true"></div>
          {# <a href="#" class="btn btn-small"><i class="icon-envelope"></i>{{ 'random.button.send' | trans }}</a>
          <br /><br /> #}
        </div>
        <div class="span4 offset1">
          <h2 class="normal-color" id="comments">{{ 'text.innerNav.comment' | trans}}</h2>
          <p class="normal-color">
            {{ text.comment }}
          </p>
          <p>
            <strong>{{ text.authorName }}</strong><br/>
            {{ text.authorDescription }}
          </p>
          <br />

          {% if hasUser %}
            {% if hasNote %}
              {# <a href="#" class="btn">Read note</a> #}
            {% else %}
                <a href="{{ path('newNote', { 'id': text.id }) }}" class="btn btn-inverse btn-small"><i class="icon-pencil icon-white"></i>{{ 'random.button.note' | trans }}</a>
            {% endif %}
          {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-inverse btn-small"><i class="icon-pencil icon-white"></i>{{ 'random.button.note' | trans }}</a>
          {% endif %}
          <br />
          <hr />
          <br />
          <div class="alert">
            <h4 id="question">{{ 'text.innerNav.question' | trans}}</h4>
            <p>{{ text.actionText }}</p>
          </div>
          {% if text.link %}
          <br />
            <p>
              <a href="{{ text.link }}" target="_blank" class="btn btn-primary">{{ 'text.innerNav.link' | trans}}</a>
            </p>
          </div>
          {% endif %}
        </div>
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}
