{% extends "::base.html.twig" %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ text.title }}"/>
    <meta property="og:url" content="{{ path('bibleText', { id: text.id } ) }}"/>
    <meta property="og:site_name" content="E100"/>
{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <div class="span7">
          <blockquote>
            <h1>{{ text.title }}</h1>
              <a href="{{ path('addFavorites', { 'id': text.id }) }}" class="btn btn-small btn-warning btn-favorit add-favorite {% if hasFavorited == true %}hide{% endif %}"><i class="icon-star icon-white"></i>{{ 'random.button.addfavorites' | trans }}</a>
              <a href="{{ path('deleteFavorites', { 'id': text.id }) }}" class="btn btn-small btn-warning btn-favorit remove-favorite {% if hasFavorited == false %}hide{% endif %}"><i class="icon-star icon-white"></i>{{ 'random.button.removefavorites' | trans }}</a>
            <p class="lead">{{ text.bibleRef}}</p>
            <p>
                {{ text.bibleText | raw }}
            </p>
          </blockquote>
          <br />
          <a href="{{ path('markRead', { 'id': text.id }) }}" class="btn btn-success btn-large btn-markRead add-markRead {% if hasRead == true %}hide{% endif %}"><i class="icon-ok icon-white"></i>{{ 'random.button.read' | trans }}</a>
          <a href="{{ path('unmarkRead', { 'id': text.id }) }}" class="btn btn-success btn-large btn-markRead remove-markRead {% if hasRead == false %}hide{% endif %}"><i class="icon-ok icon-white"></i>{{ 'random.button.unread' | trans }}</a>
          <br /><br />
          <div class="fb-like" data-href="{{ url('bibleText', { id: text.id } ) }}" data-send="false" data-width="450" data-show-faces="true"></div>
          <a href="#" class="btn btn-small"><i class="icon-envelope"></i>{{ 'random.button.send' | trans }}</a>
          <br /><br />
        </div>
        <div class="span4 offset1 alert alert-error">
          <h2 class="normal-color">Comment</h2>
          <p class="normal-color">
            {{ text.comment }}
          </p>
          <br />
          {% if hasNote %}
            <a href="#" class="btn">Read note</a>
          {% else %}
              <a href="{{ path('newNote', { 'id': text.id }) }}" class="btn btn-inverse btn-small"><i class="icon-pencil icon-white"></i>{{ 'random.button.note' | trans }}</a>
          {% endif %}
          
          <br />
          <hr />
          <br />
          <h4>{{ text.actionText }}</h4>
          <br />
        </div>
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}
